.calendar_edit{background:transparent url(../images/icons/calendar_edit.png) no-repeat left;}
.printer{background:transparent url(../images/icons/printer.png) no-repeat left;}
.group_gear{background:transparent url(../images/icons/group_gear.png) no-repeat left;}
.certificate{background:transparent url(../images/icons/script.png) no-repeat left;}
.email{background:transparent url(../images/icons/email.png) no-repeat left;}
.tick{background:transparent url(../images/icons/tick.png) no-repeat left;}
.delete{background:transparent url(../images/icons/delete.png) no-repeat left;}
.waiting_list{background:transparent url(../images/icons/page_portrait_shot.png) no-repeat left;}
.welcome_letter{background:transparent url(../images/icons/page_white_swoosh.png) no-repeat left;}
.attendance{background:transparent url(../images/icons/page_white_paste_table.png) no-repeat left;}
.number_list{background:transparent url(../images/icons/text_list_numbers.png) no-repeat left;}
.whatsnew{background:transparent url(../images/icons/new.png) no-repeat left;}
.grin{background:transparent url(../images/icons/emoticon_grin.png) no-repeat left;}
.book_open{background:transparent url(../images/icons/book_open.png) no-repeat left;}
.book_edit{background:transparent url(../images/icons/book_edit.png) no-repeat left;}
.book_next{background:transparent url(../images/icons/book_next.png) no-repeat left;}
.calendar{background:transparent url(../images/icons/calendar.png) no-repeat left;}
.calendar_add{background:transparent url(../images/icons/calendar_add.png) no-repeat left;}
.application_list{background:transparent url(../images/icons/application_view_list.png) no-repeat left;}
.help{background:transparent url(../images/icons/help.png) no-repeat left;}
.helpBullet{background:transparent url(../images/icons/bullet_black.png) no-repeat left;}
.user{background:transparent url(../images/icons/user.png) no-repeat left;}
.user_add{background:transparent url(../images/icons/user_add.png) no-repeat left;}
.useredit{background:transparent url(../images/icons/user_edit.png) no-repeat left; padding-left:20px;}
.group{background:transparent url(../images/icons/group.png) no-repeat left;}
.groupadd{background:transparent url(../images/icons/group_add.png) no-repeat left;}
.groupedit{background:transparent url(../images/icons/group_edit.png) no-repeat left;}
.search{background:transparent url(../images/icons/magnifier.png) no-repeat left;}
.online{background:transparent url(../images/icons/world.png) no-repeat left;}
.pagenew{background:transparent url(../images/icons/page_add.png) no-repeat left;}
.rss{background:transparent url(../images/icons/rss.png) no-repeat left;}
.feed{background:transparent url(../images/icons/feed.png) no-repeat left;}
.note{background:transparent url(../images/icons/note.png) no-repeat left;}
.report{background:transparent url(../images/icons/report.png) no-repeat left;}
.house{background:transparent url(../images/icons/house.png) no-repeat left;}
.manage{background:transparent url(../images/icons/cog.png) no-repeat left;}
.manage_page{background:transparent url(../images/icons/page_gear.png) no-repeat left;}
.folder{background:transparent url(../images/icons/folder.png) no-repeat left;}
.promotions{background:transparent url(../images/icons/coins.png) no-repeat left;}
.cart{background:transparent url(../images/icons/cart.png) no-repeat left;}
.folder_table{background:transparent url(../images/icons/folder_page.png) no-repeat left;}
.shipping{background:transparent url(../images/icons/car.png) no-repeat left;}
.invoices{background:transparent url(../images/icons/page_white_text_width.png) no-repeat left;}
.addorder{background:transparent url(../images/icons/folder_page_add.png) no-repeat left;}
.add{background:transparent url(../images/icons/add.png) no-repeat left;}
.app_add{background:transparent url(../images/icons/application_add.png) no-repeat left;}
.report_seo{background:transparent url(../images/icons/report_link.png) no-repeat left;}
.modules{background:transparent url(../images/icons/bricks.png) no-repeat left;}
.module{background:transparent url(../images/icons/brick.png) no-repeat left;}
.modules_manage{background:transparent url(../images/icons/bricks_gear.png) no-repeat left;}
.module_edit{background:transparent url(../images/icons/brick_edit.png) no-repeat left;}
.module_add{background:transparent url(../images/icons/brick_add.png) no-repeat left;}
.graduation_cap{background:transparent url(../images/icons/graduation_cap.jpg) no-repeat left;}
.telephone{background:transparent url(../images/icons/telephone.png) no-repeat left;}
.app_form_add{background:transparent url(../images/icons/application_form_add.png) no-repeat left;}
.app_form_edit{background:transparent url(../images/icons/application_form_edit.png) no-repeat left;}
.app_form{background:transparent url(../images/icons/application_form.png) no-repeat left;}
.wrench{background:transparent url(../images/icons/wrench.png) no-repeat left;}
.zoom{background:transparent url(../images/icons/zoom.png) no-repeat left;}
.zoom_in{background:transparent url(../images/icons/zoom_in.png) no-repeat left;}
.zoom_out{background:transparent url(../images/icons/zoom_out.png) no-repeat left;}
