body{
    font-family: Arial, Tahoma, Verdana;
}

/* Remove line between header and nav. tabs */
#header.ui-widget-header, #header + .ui-widget-header {
    border-top : none;
}

#studentSearchForm {
    padding:15px;
    float:right;
}

#secondMenu {
    /* border:none; */
}

#someMenu {
    border : none;
}

#someMenu a, #someMenu a:visited, .menuList a, .menuList a:visited {
    padding-left : 15px;
}

#ulSecond {
    background : none;
    border : none;
}

.menuList {
    padding : 0;
    margin : 0;
    list-style : none;
    float:right;
}

.menuList ul {
}
.menuList li {
    padding-right : 15px;
    float : left;
}

/* - see http://pageaffairs.com/web/css/containing-floats/ */
.float-container {
    overflow : hidden;
}

fieldset {
    margin : 1em 0;
    padding : 1em;
    margin-right : 1em;
}

fieldset input {
    width : 13em;
}

fieldset label {
    float:left;
    width:8em;
}

fieldset.horizontal .field {
    float:left;
}

fieldset.horizontal label {
    float : none;
    display:block;
}
fieldset.horizontal input {
    width:8em;
}

.dataBox {
    float:left;
    width:50%;
}

.ui-tabs-panel {
    overflow:hidden;
}

.studentBox {
    overflow:hidden;
    float:right;
}

.secondMenu {
    overflow:hidden;
}

#contentContainer {
    overflow:hidden;
}

/* Left/main column of data */
#mainContent {
    width:50%;
    float:left;
}

#sideContent {
}

ul.basicList {
    list-style: none;
    padding: 0 0 0.5em 0;
}

ul.basicList ul {
    list-style: none;
}

ul.basicList > li {
    padding: 0.3em;

}

.info .ui-state-highlight {
    background:#DFEFFC;
}
