body{
    font-family: Arial, Tahoma, Verdana;
    font-size:85%;
}

/* Remove line(s) between header and nav. tabs */
#header.ui-widget-header, #header + .ui-widget-header {
    border-top : none;
    border-bottom :none;
}

#header h2 {
    display:inline;
}

#studentSearchForm {
    padding:15px;
    float:right;
}

#secondMenu {
    border : none;
    margin-top : 5px;
    border-top : none;
    padding-bottom : 10px;
}

#someMenu {
    border : none;
    margin-top : 10px;
    margin-bottom : 5px;
}

#someMenu a, #someMenu a:visited, .menuList a, .menuList a:visited {
    padding-left : 15px;
}

#ulSecond {
    background : none;
    border : none;
}

.menuList {
    padding : 0;
    margin : 0;
    list-style : none;
    float:right;
}

.menuList ul {
}
.menuList li {
    padding-right : 15px;
    float : left;
}

/* - see http://pageaffairs.com/web/css/containing-floats/ */
.float-container {
    overflow : hidden;
}

fieldset {
    margin-left:1em;
    margin-top:0.5em;
}

fieldset input[type=text][type=password] {
    width : 13em;
}

fieldset textarea {
    width : 13.4em;
}

fieldset label {
    float:left;
    width:8em;
}

fieldset.horizontal .field {
    float:left;
}

fieldset.horizontal label {
    float : none;
    display:block;
}
fieldset.horizontal input {
    width:8em;
}

.dataBox {
    float:left;
    width:50%;
}

.ui-tabs {
    border:none;
}
.ui-tabs-panel {
    overflow:hidden;
}

.ui-tabs .ui-tabs-panel {
    padding : 1em 0.2em;
}

.studentBox {
    overflow:hidden;
    float:right;
}

.secondMenu {
    overflow:hidden;
}

#contentContainer {
    overflow:hidden;
    border : none;
}

/* Left/main column of data */
#mainContent {
    width:50%;
    float:left;
}

#sideContent {
}

ul.basicList {
    list-style: none;
    padding: 0 0 0.5em 0;
}

ul.basicList ul {
    list-style: none;
}

ul.basicList > li {
    padding: 0.3em;

}

.info .ui-state-highlight {
    background:#DFEFFC;
}

.linksdiv {
    float : right;
}

.linksdiv a {
    padding-left:20px;
    padding-right:5px;
}


h3.ui-widget-header a, h3.ui-widget-header2 a, th.ui-widget-header2 a {
    float:right;
    padding-left:20px;
    padding-right:5px;
}

/* Divs with this class are like a "newline"
 * and are usually used to hold submit buttons */
.buttonBox {
    margin-top : 5px;
    margin-left : 1em;
    float:left;
    width:100%;
}

td {
    border-style: none;
    border-color: #A6C9E2;
}

input[type=submit] {
    margin  : 5px 0 0 0;
    padding : 1px;
}

#loginform {
    width : 240px;
    margin-top : 10px;
}

#loginform .buttonBox  {
    margin-left : 0;
}

#loginform {
    margin-left : 0;
}

#waitingListSearch {
    margin-left : 0;
    margin-top : 0;
}

.newContact td {
    border-style : solid;
    border-width : 1px 0 0 0;
}


.ui-widget-content a.futureEnrollment {
    color : blue;
}

.ui-widget-content a.pastEnrollment {
    color : gray;
}

.mainInfo {
    margin : 0 0 2px 0;
    padding : 0 0 10px 0;
}

.mainInfo + a {
    margin-left  : 5px;
    padding-left : 20px;
}

table {
    margin: 10px 0 0 0;
}
