body{
    font-family: Arial, Tahoma, Verdana;
}

/* Remove line between header and nav. tabs */
#header.ui-widget-header, #header + .ui-widget-header {
    border-top : none;
}

#studentSearchForm {
    padding:15px;
    float:right;
}

#secondMenu {
    /* border:none; */
}

#someMenu {
    border : none;
}

#someMenu a, #someMenu a:visited, .menuList a, .menuList a:visited {
    padding-left : 15px;
}

#ulSecond {
    background : none;
    border : none;
}

.menuList {
    padding : 0;
    margin : 0;
    list-style : none;
    float:right;
}

.menuList ul {
}
.menuList li {
    padding-right : 15px;
    float : left;
}
