/*********************
	HTML Elements
*********************/
*{
	margin:0;
	padding:0;
}
img, div,a { behavior: url(css/iepngfix.htc) }
body{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
}
a, a:visited{
	text-decoration:none;
}
img{
	border:0;
	margin:1px;
}
p{
	padding:3px;
}
select{
	padding:2px;
}
/*********************
	Structure
*********************/
#container{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
#header{
	width:960px;
}
#header h2{
    margin-top:20px;
}
#content{
	width:740px;
	float:left;
	margin:10px 0 10px 0;
	padding:10px;
}
#sidebar{
	background:#FFF;
	width:170px;
	float:right;
	margin:10px 0 10px 0;
	padding:10px;
}
#footer{
	clear:both;
	padding:5px;
	margin-top:10px;
}
.box h3{
	padding:5px;
	font-size:14px;
}
/*********************
	Sidebar
*********************/
#sidebar ul{
	list-style:none;
	line-height:22px;
}
#sidebar ul li a,#sidebar ul li a:visited{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:block;
}
#sidebar ul li a:hover{
	text-decoration:underline;
}
#sidebar ul li ul{
	margin-left:10px;
}
#sidebar h3{
	padding:2px;
	font-size:14px;
}
/*********************
  TopMenu, Top-Panel
*********************/
#topmenu{
	width:900px;
	float:left;
	voice-family:inherit;
}
#topmenu ul{
	list-style:none;
	line-height:25px;
}
#topmenu li{
	display:inline;
}
#topmenu a,#topmenu a:visited{
	padding:5px 12px 5px 12px;
	text-decoration:none;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	padding:5px 12px 5px 12px;
	font-weight:bold;
	
}
#top-panel{
	background:#FFF;
	padding:5px;
	height:20px;
	float:left;
	width:950px;
}
#top-panel ul{
	list-style:none;
}
#top-panel ul li{
	display:inline;
	line-height:20px;
}
#top-panel ul li a{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:inline-block;
}
#top-panel a:hover{
	text-decoration:underline;
}
/*********************
		Other
*********************/
.a-right{text-align:right;}
.a-left{text-align:left;}
.a-center{text-align:center;}
#pager{
	margin:5px;
	height:25px;
}
#styleswitcher{
	float:right;
}
#styleswitcher ul{
	list-style:none;
	line-height:10px;
}
#styleswitcher li{
	height:12px;
	display:inline;
}
#footer ul {
	list-style:none;
}
#footer li {
	display:inline;
}
a#defswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#bd3f09;
	font-size: 8px;
	color:#bd3f09;
	display:inline-block;
}
a#blueswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#375b91;
	font-size: 8px;
	color:#375b91;
	display:inline-block;
}
a#greenswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#d0e0b8;
	font-size: 8px;
	color:#d0e0b8;
	display:inline-block;
}
a#brownswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#654322;
	font-size: 8px;
	color:#654322;
	display:inline-block;
}
a#mixswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#294145;
	font-size: 8px;
	color:#294145;
	display:inline-block;
}
#credits{
clear:both;
	width:200px;
	float:left;
}
/*********************
		Tables
*********************/
table{
	margin:5px;
	border-collapse: collapse;
	table-layout:automatic;
	width:98%;
        border: none;
}
td, th{
	padding: 2px;
} 
thead{

}
/*********************
		Home
*********************/
#infowrap li{
	display:inline:
}
.infobox{
	width:365px;
	float:left;
	margin-top:10px;
}
.infobox h3{
	padding:5px;
	font-size:14px;
}
.margin-left{
	margin-left:5px;
}
.rightnow .reallynow {
	padding: 5px;
	font-size:14px;
}
.rightnow h3{
	padding:2px;
	padding: 0 10px;
	font-size:14px;
}

.rightnow p {
    padding:6px;
}
.rightnow .reallynow span {
	display: block;
	text-align: left;
	float: left;
	padding:0 2px;
	font-size:14px
}

/* No longer need parent #rightnow.
 * Like being able to have "Add" and "Edit"
 * buttons inside infobox elements, instead of
 * just #rightnow elements
 */
.reallynow a {
	text-decoration:none;
	display: block;
	text-align: right;
	float: right;
	padding:0 0 0 18px;
	margin-left:4px;
	font-weight:normal;
	font-size:12px;
}
.reallynow input {
	float: right;
	padding:0 0 0 18px;
	width:70;
}
.reallynow form {
	text-decoration:none;
	display: block;
	text-align: right;
	float: right;
	padding:0 0 0 18px;
	margin-left:4px;
	font-weight:normal;
	font-size:12px;
}

.reallynow input {
	text-decoration:none;
    }
#rightnow .reallynow a:hover {
	text-decoration:underline;
}
#rightnow .youhave {
	font-size:  12px;
	padding: 10px;
}
#rightnow a {
	font-weight: bold;
}
/*********************
		Forms
*********************/
form{
	padding:10px;
	margin:0 auto;
}

/* form.sideForm is used when two tables/colums
 * are side by side, and the rightmost
 * col is used as a form
 * See enroll.gsp
 */
form.sideForm {
    padding:0px;
    margin:0 auto;
}

/* forms that are on side menus, etc 
 * align better with no padding, margin
 */
li form {
    padding:0px;
    margin:0 auto;
}
form fieldset {
	display:block;
	padding:5px 10px 5px 10px;
	line-height:20px;
	margin-bottom:10px;
}
form legend {
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px;
	width:254px;
}
form label {
	/* clear:left; */
	display:block;
	float:left;
	width:100px;
	text-align:right;
	padding-right:10px;
	margin-bottom:5px;
}
form input {
	padding:3px;
	margin-bottom:5px;
}
form textarea {
	width:410px;
	height:200px;
	padding:5px;
	overflow:auto;
}
form option {
	background:#FFF;
}
form optgroup option {

}
form #button1, form #button2 {
	padding-right:5px;
	cursor:pointer;
	width:205px;
	margin-left:8px;
	font-weight:bold;
}
form #button1:hover, form #button2:hover {
	background-position:center left;
}

/*********************
	Icons
*********************/
.icon{
	padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12x;
	margin:0 3px;
	display:inline-block;
	line-height:20px;
}
.book_open{background:transparent url(../images/icons/book_open.png) no-repeat left;}
.book_edit{background:transparent url(../images/icons/book_edit.png) no-repeat left;}
.book_next{background:transparent url(../images/icons/book_next.png) no-repeat left;}
.calendar{background:transparent url(../images/icons/calendar.png) no-repeat left;}
.calendar_add{background:transparent url(../images/icons/calendar_add.png) no-repeat left;}
.application_list{background:transparent url(../images/icons/application_view_list.png) no-repeat left;}
.help{background:transparent url(../images/icons/help.png) no-repeat left;}
.helpBullet{background:transparent url(../images/icons/bullet_black.png) no-repeat left;}
.user{background:transparent url(../images/icons/user.png) no-repeat left;}
.useradd{background:transparent url(../images/icons/user_add.png) no-repeat left;}
.useredit{background:transparent url(../images/icons/user_edit.png) no-repeat left;}
.group{background:transparent url(../images/icons/group.png) no-repeat left;}
.groupadd{background:transparent url(../images/icons/group_add.png) no-repeat left;}
.groupedit{background:transparent url(../images/icons/group_edit.png) no-repeat left;}
.search{background:transparent url(../images/icons/magnifier.png) no-repeat left;}
.online{background:transparent url(../images/icons/world.png) no-repeat left;}
.pagenew{background:transparent url(../images/icons/page_add.png) no-repeat left;}
.rss{background:transparent url(../images/icons/rss.png) no-repeat left;}
.feed{background:transparent url(../images/icons/feed.png) no-repeat left;}
.report{background:transparent url(../images/icons/report.png) no-repeat left;}
.house{background:transparent url(../images/icons/house.png) no-repeat left;}
.manage{background:transparent url(../images/icons/cog.png) no-repeat left;}
.manage_page{background:transparent url(../images/icons/page_gear.png) no-repeat left;}
.folder{background:transparent url(../images/icons/folder.png) no-repeat left;}
.promotions{background:transparent url(../images/icons/coins.png) no-repeat left;}
.cart{background:transparent url(../images/icons/cart.png) no-repeat left;}
.folder_table{background:transparent url(../images/icons/folder_page.png) no-repeat left;}
.shipping{background:transparent url(../images/icons/car.png) no-repeat left;}
.invoices{background:transparent url(../images/icons/page_white_text_width.png) no-repeat left;}
.addorder{background:transparent url(../images/icons/folder_page_add.png) no-repeat left;}
.add{background:transparent url(../images/icons/add.png) no-repeat left;}
.app_add{background:transparent url(../images/icons/application_add.png) no-repeat left;}
.report_seo{background:transparent url(../images/icons/report_link.png) no-repeat left;}
.modules{background:transparent url(../images/icons/bricks.png) no-repeat left;}
.module{background:transparent url(../images/icons/brick.png) no-repeat left;}
.modules_manage{background:transparent url(../images/icons/bricks_gear.png) no-repeat left;}
.module_edit{background:transparent url(../images/icons/brick_edit.png) no-repeat left;}
.module_add{background:transparent url(../images/icons/brick_add.png) no-repeat left;}
.graduation_cap{background:transparent url(../images/icons/graduation_cap.jpg) no-repeat left;}
.telephone{background:transparent url(../images/icons/telephone.png) no-repeat left;}


/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

ul.helplist li  {
    margin-left: 30px;
    margin-bottom: 3px;

    padding:2px;
}

.logintab {
    margin-left: 30%;

}

.logincurrent {
    padding:5px 12px 5px 12px;
    font-weight:bold;
    
}
/* Messages Styles.  Taken from main.css */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

/* Errors styles:  Taken from Grails main.css */
div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 10px;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

input.errors {
    border: 1px solid red;
}
input.errors {
    border: 1px solid red;
}
/* Taken from "CSS Mastery Advanced Web Standards Solutions */
fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
    /* this is my hack, also */
    margin: 4px 0px 0px 0px;
    padding-left: 2px;
}

input[type="text"][type="password"][type="checkbox"] {
    width: 20em;
}

/* this is my hack */
.loginForm label {
    font-size: 14px;
}

input[type="submit"] {
    margin: 4px 6px 0px 0px;
}

fieldset label {
    padding-left: 1px;
}

input[type="checkbox"] {
    padding: 10px;
}

/* Added from grails' main.css */
.prop {
    padding: 5px;
}
.prop .name {
    text-align: right;
    width: 15%;
    white-space: nowrap;
    border: none;
    padding: 5px;
    padding-right: 20px;
}
.prop .value {
    text-align: left;
    width: 85%;
    padding: 5px;
    border: none;
}

.prop li {
    list-style-type: none;
    padding-bottom: 5px;
}
